.timer {
    position: relative;
    display: block;
}

.timer__wrapper {
    position: relative;
    display: block;
}

.timer__wrapper:after {
    content: '';
    width: 100%;
    display: table;
}

.timer__header {
    position: relative;
    display: block;
    float: left;
}

.timer__content {
    position: relative;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.timer__counter {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.timer__footer {
    position: relative;
    display: block;
    float: left;
}

.timer__button {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    background-color: #CCC;
}

.timer__play {
    background-color: #92D36E;
}

.timer__reset {
    background-color: #00C8F8;
}